page-emergencia {
    ion-content {
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: url(../assets/imgs/principal.png), url(../assets/imgs/lineasamarillas.png);
      background-position: center top, center center;
      background-repeat: no-repeat;
      background-attachment: absolute;
      background-size: contain, cover;
      background-color: #fff;
      background-position-x: 50%;
    }

    ion-icon {
      color: #A07B13;
    }
    .emerdiv{
        margin-top: 170px;
    }
    .emergencia{
        border-radius: 160px;
        padding: 0 2.6rem;
        height: 300px;
        font-size: 45px;
    }
    
}
