<!--
  Generated template for the EmergenciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
  <button ion-button menuToggle icon-only class="menu">
    <ion-icon md="md-menu" ios="ios-menu"></ion-icon>
    <!-- <ion-icon></ion-icon> -->
  </button>
  <ion-title>Emergencias</ion-title>
  <ion-buttons end>
    <button ion-button clear end>
      <ion-icon>
        <img src="assets/imgs/dibujoarriba.png" alt="dream moto" width="25" height="25" />
      </ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

  <div class="emerdiv">

    <button class="emergencia" ion-button round color="danger" full (click)="emergencia()">Llamar</button>

  </div>

</ion-content>
