page-producto-fotos-form {
    .toolbar-title {
       display: block;
       overflow: hidden;
       word-wrap: break-word !important;
       text-overflow: ellipsis;
       white-space: inherit;
    }

    .bar-button {
       color: #fff;
    } //
}
