page-producto-fotos-form {
    .toolbar-title {
       display: block;
       overflow: hidden;
       word-wrap: break-word !important;
       text-overflow: ellipsis;
       white-space: inherit;
    }

    .bar-button {
       color: #fff;
    } //
    ion-content{
        ion-buttons{
            button,ion-button{
                position: absolute;
            }
        }
        ion-card{
            
            // height: 400px;
            img {
            position: absolute top;
            top: 20px;
            margin-bottom: 40px !important;
            }
            
        }
    }
}
