<!--
  Generated template for the ProductosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <button ion-button menuToggle icon-only class="menu">
      <ion-icon md="md-menu" ios="ios-menu"></ion-icon>
      <!-- <ion-icon></ion-icon> -->
    </button>
    <ion-title>Productos</ion-title>
    
    
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="productos.length == 0 || messageError != null">
    
    <ion-card-header>
      Productos
    </ion-card-header>
    <ion-card-content>
      No tienes productos agregados por el momento.
    </ion-card-content>

  </ion-card>
  <ion-card *ngFor="let producto of productos">
    <ion-card-header>
      {{ producto.nombre }}
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="producto.descripcion"><strong>{{producto.descripcion}}</strong></p>
      <p><strong>Cantidad: {{producto.cantidad}}</strong></p>
      <p><strong>Precio: {{producto.precio}}</strong></p>
      <p *ngIf="producto.producto.nombre">
        <strong>Tienda: {{producto.producto.nombre}}</strong>
      </p> 
      <p *ngIf="producto.producto.username">
        <strong>Vendedor: {{producto.producto.username}} ({{producto.producto.name}} {{producto.producto.appaterno}} {{producto.producto.apmaterno}})</strong>
      </p>
      <ion-buttons end>
        <button ion-button color="light" round icon-only end (click)="showProducto(producto)">
          <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        </button>
        <button ion-button color="light" round icon-only end (click)="llamar(producto.producto.telefono)">
          <ion-icon ios="ios-call" md="md-call"></ion-icon>
        </button>
        <!-- <button ion-button color="light" round icon-only end (click)="eliminarProducto(producto.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button> -->
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
