<!--
  Generated template for the MotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle icon-only class="menu">
      <ion-icon md="md-menu" ios="ios-menu"></ion-icon>
      <!-- <ion-icon></ion-icon> -->
    </button>
    <ion-title>Mis Motos</ion-title>
    <ion-buttons end>
      <button ion-button color="light" round icon-end icon-only end (click)="openForm()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    
    
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="motos.length == 0 || messageError != null">
    
    <ion-card-header>
      Motos
    </ion-card-header>
    <ion-card-content>
      No tienes motos agregadas por el momento.
    </ion-card-content>

  </ion-card>
  <ion-card *ngFor="let moto of motos">
    <ion-card-header>
      {{ moto.marca }}
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="moto.modelo"><strong>Modelo: {{moto.modelo}} </strong></p>
      <p *ngIf="moto.version"><strong>Versión: {{moto.version}}</strong></p>
      <p *ngIf="moto.serie"><strong>Número de serie: {{moto.serie}}</strong></p>
      <p *ngIf="moto.km"><strong>Kilometros: {{moto.km}}</strong></p>
      <p *ngIf="moto.anio"><strong>Año: {{moto.anio}}</strong></p>
      <ion-buttons end>
        <button ion-button color="light" round icon-only end (click)="showMoto(moto)">
          <!-- Advanced: explicity set the icon for each platform -->
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
        </button>
        <!-- <button ion-button color="light" round icon-only end (click)="editMoto(moto)"> -->
          <!-- Advanced: explicity set the icon for each platform -->
          <!-- <ion-icon ios="ios-create" md="md-create"></ion-icon> -->
        <!-- </button> -->
        <button ion-button color="light" round icon-only end (click)="eliminarMoto(moto.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
